<h1 mat-dialog-title>Concurso</h1>
<div mat-dialog-content>
  <div class="" *ngIf="data.id_user==='01'">
    <p>Estos son los detalles del Concurso</p>
  </div>
  <div class="" *ngIf="data.id_user!=='01'">
    <p>Por favor ingrese los datos del Concurso {{data.id}}</p>
  </div>

  <div class="example-container">
    <mat-form-field>
      <input matInput [(ngModel)]="data.name" placeholder="Nombre del Concurso" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.banner" placeholder="URL banner img">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.url" placeholder="Nombre URL concurso">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.startDate" [matDatepicker]="pickerIni" placeholder="Fecha de Inicio">
      <mat-datepicker-toggle matSuffix [for]="pickerIni"></mat-datepicker-toggle>
      <mat-datepicker #pickerIni></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.endDate" [matDatepicker]="pickerFin" placeholder="Fecha de Finalización">
      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
      <mat-datepicker #pickerFin></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.description" placeholder="Descripción del Concurso">
    </mat-form-field>
  </div>
</div>
<div class="" *ngIf="data.id_user!=='01'">

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <div class="" *ngIf="!data.id">
      <button mat-button [mat-dialog-close]="data">Crear Concurso</button>
    </div>
    <div class="" *ngIf="data.id">
      <button mat-button [mat-dialog-close]="data">Guardar</button>
    </div>
  </div>

</div>
